.controlPoints {
  position: absolute;
  .rotate {
    z-index: 9999;
    position: absolute;
    color: #1890ff;
    user-select: none;
  }
  .point {
    z-index: 9999;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #1890ff;
    border-radius: 100%;
    user-select: none;
  }
}
