.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 320px 0 100px;
  min-height: 100%;
  background-color: #f0f3f7;
  .canvas {
    position: relative;
    box-shadow: 1px 1px 20px #ccc;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
  }
}
